
.red-hat-display-font {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
}



.epilogue-font {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.clash-display {
  font-family: 'Clash Display', sans-serif;
   font-weight: 700;
}

.bg-img{
  background-image: url('../../../assets/Hero/heroBg.svg');
  background-repeat: no-repeat;
}