
.red-hat-display-font {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
}



.epilogue-font {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}